* {
    font-family: 'Rubik', sans-serif;
}
.center {
    width: 70%;
    margin: 0 auto;

}
h1 {
    text-align: center;
    margin: 20px;  
    color: #E53170;
}
.center > p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}
.container {
    padding: 20px 0;
}
.container::after {
    content: '';
    clear: both;
    display: table;
}
.card {
    width: 30%;
    height: 80px;
    background-color: #0F0E17;
    box-shadow: 0px 0px 10px 3px gray;
}
.card-sx {
    float: left;
}
.card-center {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
.card-dx {
    float: left;
}
img {
    height: 80px;
    width: 30%;
    float: left;
}
.data {
    height: 80px;
    width: 70%;
    float: right;
    padding: 10px 20px;
    
}
.white {
    color: white;
}
.data > p {
    font-size: 12px;
    margin-top: 5px;
}
a {
    font-size: 12px;
    color: #62D5F2;
    text-decoration: none;
}

